<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.siam.package_goods.mapper.GoodsMapper" >
  <resultMap id="BaseResultMap" type="com.siam.package_goods.entity.Goods" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="shop_id" property="shopId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="main_image" property="mainImage" jdbcType="VARCHAR" />
    <result column="sub_images" property="subImages" jdbcType="VARCHAR" />
    <result column="detail" property="detail" jdbcType="VARCHAR" />
    <result column="detail_images" property="detailImages" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="stock" property="stock" jdbcType="INTEGER" />
    <result column="is_hot" property="isHot" jdbcType="BIT" />
    <result column="is_new" property="isNew" jdbcType="BIT" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="is_sale" property="isSale" jdbcType="BIT" />
    <result column="sale_price" property="salePrice" jdbcType="DECIMAL" />
    <result column="monthly_sales" property="monthlySales" jdbcType="INTEGER" />
    <result column="total_sales" property="totalSales" jdbcType="INTEGER" />
    <result column="total_comments" property="totalComments" jdbcType="INTEGER" />
    <result column="preferential_name" property="preferentialName" jdbcType="VARCHAR" />
    <result column="packing_charges" property="packingCharges" jdbcType="DECIMAL" />
    <result column="product_time" property="productTime" jdbcType="DECIMAL" />
    <result column="exchange_points" property="exchangePoints" jdbcType="INTEGER" />
    <result column="sort_number" property="sortNumber" jdbcType="INTEGER" />
    <result column="printer_id" property="printerId" jdbcType="VARCHAR" />
    <result column="print_num" property="printNum" jdbcType="INTEGER" />
    <result column="unit_id" property="unitId" jdbcType="BIGINT" />
    <result column="unit_name" property="unitName" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="CustomResultMap" type="java.util.Map" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="shop_id" property="shopId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="main_image" property="mainImage" jdbcType="VARCHAR" />
    <result column="sub_images" property="subImages" jdbcType="VARCHAR" />
    <result column="detail" property="detail" jdbcType="VARCHAR" />
    <result column="detail_images" property="detailImages" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="stock" property="stock" jdbcType="INTEGER" />
    <result column="is_hot" property="isHot" jdbcType="BIT" />
    <result column="is_new" property="isNew" jdbcType="BIT" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="is_sale" property="isSale" jdbcType="BIT" />
    <result column="sale_price" property="salePrice" jdbcType="DECIMAL" />
    <result column="monthly_sales" property="monthlySales" jdbcType="INTEGER" />
    <result column="total_sales" property="totalSales" jdbcType="INTEGER" />
    <result column="total_comments" property="totalComments" jdbcType="INTEGER" />
    <result column="preferential_name" property="preferentialName" jdbcType="VARCHAR" />
    <result column="packing_charges" property="packingCharges" jdbcType="DECIMAL" />
    <result column="product_time" property="productTime" jdbcType="DECIMAL" />
    <result column="exchange_points" property="exchangePoints" jdbcType="INTEGER" />
    <result column="sort_number" property="sortNumber" jdbcType="INTEGER" />
    <result column="printer_id" property="printerId" jdbcType="VARCHAR" />
    <result column="print_num" property="printNum" jdbcType="INTEGER" />
    <result column="unit_id" property="unitId" jdbcType="BIGINT" />
    <result column="unit_name" property="unitName" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
</mapper>